# copy this file to .env, uncomment, and set the variables below
# to customize the container settings
#
# export use_gpus=
# export container_runtime="docker"
# export label="label"
# export container_user="root"
# export container_port="8888"
# export dev_volume="devvol"

if [ "$label" == "" ]; then
    export label="mmontuori"
fi

if [ "$container_runtime" == "" ]; then
    export container_runtime="podman"
fi

if [ "$container_user" == "" ]; then
    export container_user="devuser"
fi

if [ "$container_port" != "" ]; then
    export container_args="-p${container_port}:${container_port}"
fi

if [ "$use_gpus" != "" ]; then
    export gpu_args="--gpus=all"
fi

if [ "$dev_volume" == "" ]; then
    export dev_volume="devvol"
fi
