# copy this file to .env, uncomment, and set the variables below
# to customize the container settings
#
# export use_gpus=
# export container_runtime="docker"
# export label="label"
# export container_user="root"
# export container_port="8888"
# export dev_volume="devvol"
