name: Build all images and Publish to Docker

on:
  workflow_dispatch:

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - name: check out repository
      uses: actions/checkout@v4

    - name: login to docker registry
      uses: docker/login-action@v3
      with:
        username: ${{secrets.DOCKER_USER}}
        password: ${{secrets.DOCKER_TOKEN}}

    - name: build and push osbase docker image to registry
      uses: docker/build-push-action@v5
      with:
        file: containerfiles/osbase
        push: true
        tags: mmontuori/osbase:latest
    
    - name: build and push toolbox docker image to registry
      uses: docker/build-push-action@v5
      with:
        file: containerfiles/toolbox
        push: true
        tags: mmontuori/toolbox:latest
   
    - name: build and push ansibleenv docker image to registry
      uses: docker/build-push-action@v5
      with:
        file: containerfiles/ansibleenv
        push: true
        tags: mmontuori/ansibleenv:latest

    - name: build and push cppenv docker image to registry
      uses: docker/build-push-action@v5
      with:
        file: containerfiles/cppenv
        push: true
        tags: mmontuori/cppenv:latest

    - name: build and push pythonenv docker image to registry
      uses: docker/build-push-action@v5
      with:
        file: containerfiles/pythonenv
        push: true
        tags: mmontuori/pythonenv:latest

    - name: build and push javaenv docker image to registry
      uses: docker/build-push-action@v5
      with:
        file: containerfiles/javaenv
        push: true
        tags: mmontuori/javaenv:latest

    - name: build and push aienv docker image to registry
      uses: docker/build-push-action@v5
      with:
        file: containerfiles/aienv
        push: true
        tags: mmontuori/aienv:latest

    - name: build and push aienv-wsl docker image to registry
      uses: docker/build-push-action@v5
      with:
        file: containerfiles/aienv-wsl
        push: true
        tags: mmontuori/aienv-wsl:latest

    - name: build and push goenv docker image to registry
      uses: docker/build-push-action@v5
      with:
        file: containerfiles/goenv
        push: true
        tags: mmontuori/goenv:latest
